* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100dvh;
    width: 100dvw;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main {
    height: 95%;
    width: 60%;
    display: flex;
}

.box-grid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1rem;
}

.box {
    border-radius: 6px;
}

.box1 {
    grid-row: span 5;
    background-color: hsl(31, 66%, 93%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    letter-spacing: -2px;
    gap: 1rem;
}

.box1 p {
    width: 80%;
    font-size: 1.7rem;
    line-height: 1.5rem;
}

.box1>p b {
    color: hsl(256, 67%, 59%);
    font-weight: 500;
    font-style: italic;
}

.box1 img {
    width: 80%;
    object-fit: cover;
}

.box2 {
    grid-column: span 2;
    grid-row: span 4;
    background-color: hsl(256, 67%, 59%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "DM Sans", sans-serif;
    gap: .2rem;
}

.box2 p {
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.box2 p:nth-child(1) {
    font-size: 2.2rem;
    font-weight: 500;
}


.box2 img {
    width: 30%;
}

.box3 {
    grid-row: span 7;
    background-color: hsl(254, 88%, 90%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
    gap: 1rem;
}

.box3 p:nth-child(1) {
    font-size: 1.1rem;
    width: 70%;
    font-weight: 600;
}

.box3 .secP {
    width: 70%;
    font-size: 10px;
}

.box3 img {
    width: 300%;
    margin-left: 7.8pc;
    height: 60%;
    object-fit: contain;
}

.box4 {
    overflow: hidden;
    grid-row: span 3;
    background-color: hsl(0, 0%, 100%);
    font-family: "DM Sans", sans-serif;
    padding: 15px;
}

.box4 img {
    height: 40%;
}

.box4 p {
    font-size: 1.2rem;
    width: 80%;
    font-weight: 500;
    letter-spacing: -1.3px;
    line-height: 1.25rem;
    margin-top: -5px;
}

.box5 {
    grid-row: span 3;
    background-color: hsl(39, 100%, 71%);
    overflow: hidden;
    padding: 20px;
    font-family: "DM Sans", sans-serif;
}

.box5 p {
    font-size: 1.1rem;
    width: 70%;
    font-weight: 500;
    line-height: 1.1rem;
    margin-top: -10px;
}

.box5 img {
    height: 100px;
    margin-top: 15px;
}

.box6 {
    grid-row: span 5;
    background-color: hsl(39, 100%, 71%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    flex-direction: column;
}

.box6 p{
    font-size: 1.7rem;
    width: 70%;
    font-weight: 500;
    letter-spacing: -1.3px;
    margin-top: 15px;
    line-height: 1.3rem;
}
.box6 img{
    margin-top: 30px;
    height: 50%;
}

.box7 {
    grid-column: 2/3;
    grid-row: span 3;
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
}
.box7 p{
    font-size: 10px;
    margin-left: 30px;
    display: flex;
    gap: .3rem;
    flex-direction: column;
}
.box7 p b{
    font-size: 2rem;
    font-weight: 600;
}
.box7 img{
    height: 30%;
    object-fit: contain;
}

.box8 {
    grid-row: span 3;
    grid-column: span 2;
    background-color: hsl(256, 67%, 59%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: "DM Sans", sans-serif;
    color: white;
    padding: 20px;
}

.box8 img{
    height: 110%;
}
.box8 p{
    font-size: 1.5rem;
    font-weight: 600;
}
